/* Progress Bar */
.progress-container {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.progressbar {
    background-color: rgb(10, 207, 10);
    border-radius: 10px;
    text-align: right;
    transition: 0.5s ease-in;
}

/* Auto Complete */
.autocomplete-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.autocomplete-input{
    width: 300px;
}

.auto-result-container{
    width: 305px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid grey;
    max-height: 500px;
}

.autocomplete-result{
    padding: 5px;
    display: block;
    text-align: left;
    cursor: pointer;
}

.autocomplete-result:hover{
    background-color: rgb(227, 238, 238);
}
.auto-selected{
    background-color: rgb(227, 238, 238);
}

/* ------ OTP Component--------- */
.otp-input{
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}